In [1]:
# Load Packages
from IPython.core.display import HTML
import xlrd as xl
import numpy as np
import pandas as pd
import requests
import json
from io import StringIO
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
# input year
year = 2022
syear = str(year)

In [3]:
# scrape data
response = requests.get(
    "https://api.collegefootballdata.com/games",
    params={"year": year, "seasonType": "both"},
    headers = {"Authorization": "Bearer G7EL3wSl1uoDYSQOw1aVQ+yKey9MG1nYqP3pLaW+sPKAzo/NiGJiKLi5fHo38xXa"}
)

# read data as simplestring
data = pd.read_json(StringIO(response.text))

In [4]:
# only include games that have already been played
data = data[
    (data['home_points'] == data['home_points'])
    & (data['away_points'] == data['away_points'])
    & (pd.notna(data['home_conference']))
    & (pd.notna(data['away_conference']))
]

#create copy for dataset with all teams
data2 = data
# only include teams in division one FBS
data = data[data['home_division']== 'fbs']
data = data[data['away_division'] == 'fbs']

In [5]:
# create spread variable
data['home_spread'] = data['home_points'] - data['away_points']
data['away_spread'] = -data['home_spread']


# change postseason games from week 1 to week 15
data['week'] = np.where(data['season_type'] == 'postseason',15, data['week'])

# subtract 2.5 points from the home teams spread, keep neutral as is, and add 2.5 to away teams.
data['home_spread_adj'] = np.where(data['neutral_site'] == True, data['home_spread'], (data['home_spread'] - 2.5))
data['away_spread_adj'] = -data['home_spread_adj']


# convert each game into two rows, one for each team and remove unwated rows.
teams = pd.concat([
    data[['home_team', 'home_spread', 'home_spread_adj', 'away_team', ]].rename(columns={'home_team': 'team', 'home_spread': 'spread',  'away_team': 'opponent', 'home_spread_adj' : 'adj_spread'}),
    data[['away_team', 'away_spread', 'away_spread_adj', 'home_team' ,]].rename(columns={'away_team': 'team', 'away_spread': 'spread',  'home_team': 'opponent', 'away_spread_adj' : 'adj_spread'})
])



# set maximum spread for win or loss to 28 and -28 respectively
teams['adj_spread'] = np.where(teams['adj_spread'] > 28, 28, teams['adj_spread']) # cap the upper bound scoring margin at +28 points
teams['adj_spread'] = np.where(teams['adj_spread'] < -28, -28, teams['adj_spread']) # cap the lower bound scoring margin at -28 points

# group rows by team
spreads = teams.groupby('team').adj_spread.mean()
spreads.head()


# create empty arrays
ts = []
vics = []
terms = []
solutions = []
loss = []
schedule = pd.DataFrame(columns = ['Team', 'Victories'])

for team in spreads.keys():
    row = []
 # get a list of team opponents
    opps = list(teams[teams['team'] == team]['opponent'])
# list of wins
    win = list(teams[(teams['team'] == team) & (teams['spread'] > 0)]['opponent'])
    losses = list(teams[(teams['team'] == team) & (teams['spread'] < 0)]['opponent'])

    for opp in spreads.keys():
        if opp == team:
    # set opponents coefficient to 1 
            row.append(1)
        elif opp in opps:
            # coefficient for opponents should be 1 over the number of opponents
        	row.append(-1.0/len(opps))
        else:
            # teams not yet played recieve a coefficient of zero
            row.append(0)
    terms.append(row)

    # average game spread on the other side of the equation
    solutions.append(spreads[team])
    
    # save opponents
    loss.append(losses)
    ts.append(team)
    vics.append(win)
    

schedule['Team'] = ts
schedule['Victories'] = vics
schedule['Losses'] = loss
# solve the linear equation    
solutions = np.linalg.solve(np.array(terms), np.array(solutions))


# add team names to solutions and create dataframe
ratings = list(zip( spreads.keys(), solutions ))
PR = pd.DataFrame(ratings, columns=['team', 'adj'])

In [6]:
# create spread variable
data2['home_spread'] = data2['home_points'] - data2['away_points']
data2['away_spread'] = -data2['home_spread']


# convert each game into two rows, one for each team and remove unwated rows.
teams2 = pd.concat([
    data2[['home_team', 'home_spread', 'away_team', ]].rename(columns={'home_team': 'team', 'home_spread': 'spread',  'away_team': 'opponent'}),
    data2[['away_team', 'away_spread', 'home_team' ,]].rename(columns={'away_team': 'team', 'away_spread': 'spread',  'home_team': 'opponent'})
])

#list of teams
teams3 = list(teams2.team)

In [7]:
# create empty arrays
ts2 = []
vics2 = []
loss2 = []
schedule2 = pd.DataFrame(columns = ['Team', 'Victories','Losses'])

for team in teams3:
 # get a list of team opponents
    opps = list(teams2[teams2['team'] == team]['opponent'])
# list of wins
    win = list(teams2[(teams2['team'] == team) & (teams2['spread'] > 0)]['opponent'])
    losses = list(teams2[(teams2['team'] == team) & (teams2['spread'] < 0)]['opponent'])
    
    # save opponents
    loss2.append(losses)
    ts2.append(team)
    vics2.append(win)

In [8]:
# calculations in this cell are to define a teams true record
schedule2['Team'] = ts2
schedule2['Victories'] = vics2
schedule2['Losses'] = loss2


schedule2 = schedule2[schedule2['Team'].isin(schedule['Team'])]
records = []
win_p = []
loss_count = []
for ind,row in schedule2.iterrows():
    lc = len(row['Losses'])
    rec = '(' + str(len(row['Victories'])) + '-' + str(len(row['Losses'])) + ')'
    per = len(row['Victories']) / (len(row['Victories']) + len(row['Losses']))  
    records.append(rec)
    win_p.append(per)
    loss_count.append(lc)
        
schedule2['records'] = records
schedule2['Losses'] = loss_count
schedule2['Win %'] = win_p
schedule2['Win %'] = schedule2['Win %'] * 100
Record = schedule2[['Team','records','Win %']].drop_duplicates()
Record

                 Team records  Win %
0    Western Kentucky   (3-1)   75.0
1        Northwestern   (1-3)   25.0
3                UNLV   (3-1)   75.0
4            Illinois   (3-1)   75.0
5          Utah State   (1-3)   25.0
..                ...     ...    ...
809       Boise State   (2-2)   50.0
810           Houston   (2-2)   50.0
846  Middle Tennessee   (3-1)   75.0
847           Memphis   (3-1)   75.0
885  Western Michigan   (1-3)   25.0

[131 rows x 3 columns]

In [9]:

# sets mean adj +/- score to zero (added after week 7 2021)
mean = PR.adj.mean()
PR['adj'] = PR['adj'] - mean

# create new data frame for each game containing columns listed below
home_teams = pd.concat([
    data[['home_team', 'home_points', 'away_points', 'away_team' ,'week']].rename(columns={'home_team': 'team', 'home_points': 'offense',  'away_points': 'defense', 'away_team' : 'opponent'})
    ])

away_teams = pd.concat([
    data[['away_team', 'away_points', 'home_points', 'home_team','week' ]].rename(columns={'away_team': 'team', 'away_points': 'offense',  'home_points': 'defense', 'home_team' : 'opponent' })
    ])

stats = home_teams.append(away_teams)

# create a binary win variable
stats['win'] = np.where(stats['offense'] > stats['defense'], 1, 0)

# variable used to help define adj win percentage
win_a_function = ((stats.iloc[0,4] + stats.iloc[-1,4])/50)*2

# create variable used to calculate adjusted win percentage
stats['win_adj'] = np.where(stats['offense'] > stats['defense'], 1, ((stats.iloc[0,4] + stats.iloc[-1,4])/50) -((win_a_function/(stats.iloc[-1,4]-stats.iloc[0,4]))*(stats['week']-1)))

# create variable for true +/- value
stats['margin'] = stats['offense'] - stats['defense']

# create a count variable
stats['game'] = 1

#join stats and PR on opponent column
stats2 = pd.merge(stats, PR, left_on = 'opponent', right_on = 'team', how = 'left')

# create a games played count for each team
total_games = stats.groupby('team').game.sum()

# creates a vector holding average true +/- value of each team
margin = stats.groupby('team').margin.mean()

# creates an average points scored vector 
offense = stats.groupby('team').offense.mean()

# creates an average points allowed vector 
defense = stats.groupby('team').defense.mean()

# creates a true win percentage vector
win_per = stats.groupby('team').win.mean()

# creates an adjusted win percentage vector 
adj_win_per = stats.groupby('team').win_adj.mean()

# creates a strength of schedule vector
SOS = stats2.groupby('team_x').adj.mean()

# appends total games vector to data frame
PR['total_games'] = total_games.values

# appends strength of schedule vector to data frame
PR['SOS'] = SOS.values

# appends avereage points scored vector to data frame
PR['offense'] = offense.values

# appends avereage points allowed vector to data frame
PR['defense'] = defense.values

# appends true win percentage vector to data frame
PR['win %'] = win_per.values

# appends true +/- vector to data frame
PR['avg +/-'] = margin.values

# appends adj win percentage vector to data frame
PR['adj win %'] = adj_win_per.values

# alters adj win percentage of teams with zero wins
PR['adj win %'] = np.where(PR['win %'] == 0, .4 / (PR['total_games']), PR['adj win %'])

# ranks teams offenses
PR['offense'] = PR['offense'].rank(method='min', ascending=False)

# ranks teams defenses
PR['defense'] = PR['defense'].rank(method='min')

# ranks teams strength of schedule
PR['SOS'] = PR['SOS'].rank(method='min', ascending=False)

# creates function used to calculate rating
def square2(x):
    return np.sqrt(np.sqrt(x))

# calculates rating
PR['rating'] = (PR['adj'] + 100) * square2(PR['adj win %'])

# multiplies win % by 100
PR['win %'] = PR['win %']*100

# multiplies adj win % by 100
PR['adj win %'] = PR['adj win %']*100

# rename columns
PR = PR.rename(columns={'team': 'School', 'rating': 'Rating',  'win %' : "Win %", 'adj win %' : 'Adj Win %', 'offense' : 'Offense' , 'defense' : 'Defense', 'avg +/-' : '+/-', 'adj' : 'Adj +/-'}) 

# sorts values by rating
rankings = PR.sort_values('Rating', ascending=False).reset_index()[['School', 'Rating','Adj Win %', 'SOS', 'Offense', 'Defense','+/-','Adj +/-']]

/var/folders/qd/l_m84yss1zq1vdc9vp48synh0000gn/T/ipykernel_59494/4240839723.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = home_teams.append(away_teams)

In [10]:
# add rating points for victorie over top 25 teams
# top 25 = 1
# top 10 = 2
# top 5 = 3
top25 = list(rankings.School.head(25))
top10 = list(rankings.School.head(10))
top5 = list(rankings.School.head(5))
ratings = []
for ind,row in rankings.iterrows():
    t = row['School']
    vict = schedule[schedule['Team'] == t].iloc[0,1]
    rating = row['Rating']
    for i in vict:
        if i in top25:
            rating = rating + 1
        if i in top10:
            rating = rating + 1
        if i in top5:
            rating = rating + 1
    ratings.append(rating)
rankings['Rating'] = ratings

In [11]:
# sort by rating
rankings.sort_values('Rating', ascending = False,inplace = True)

rankings = rankings.reset_index()

# create rank columns
r = []
for i in rankings.index:
    r.append(i + 1)
rankings['Rank'] = r

# reorder columns
rankings = rankings.reset_index()[['Rank','School', 'Rating','Adj Win %', 'SOS', 'Offense', 'Defense','+/-','Adj +/-']]

In [12]:
# flip schools who are ranked directly under a team they beat, but has not beat them.
prev = rankings['School'][0]
rank = []
for ind,row in rankings.iterrows():
    t = row['School']
    v = schedule[schedule['Team'] == t].iloc[0,1]
    v2 = schedule[schedule['Team'] == prev].iloc[0,1]
    r = row['Rank']
    for i in v:
        if i == prev:
            r = r - 1
            for i in v2:
                if i == row['School']:
                    r = r + 1
    rank.append(r)
    prev = row['School']
rankings['Rank'] = rank

In [13]:
check = pd.DataFrame(rankings.Rank.value_counts())
switch = list(check[check['Rank'] == 2].index)
ranks = []
for i in rankings['Rank']:
    if i in switch:
        switch.remove(i)
        i = i + 1
    ranks.append(i)
rankings['Rank'] = ranks

In [14]:
# resort with new ranks
rankings.sort_values('Rank', ascending = True,inplace = True)
rankings = rankings.reset_index()
rankings.drop(columns = 'index', inplace = True)

In [15]:
# Downloading contents from AP Poll
url = "http://www.collegepollarchive.com/football/ap/seasons.cfm?seasonid=" + syear
data = requests.get(url).text

# Creating BeautifulSoup object
soup = BeautifulSoup(data, 'html.parser')

# Creating list with all tables
rows = soup.find_all('tr')

# loop to create attach ap rankings to all ranked schools
ap = pd.DataFrame()
rank = []
college = []
for i in range(1,26):
    try:
        rank.append(i)
        college.append(rows[i].find_all('td')[3].text.split(' (')[0])
    except:
        continue
ap['AP'] = rank
ap['School'] = college

# alter names to match internal rankings
ap['School'] = np.where(ap['School'] == 'Mississippi', 'Ole Miss', ap['School'])
ap['School'] = np.where(ap['School'] == 'San Jose State', 'San José State', ap['School'])
ap['School'] = np.where(ap['School'] == 'Southern Miss', 'Southern Mississippi', ap['School'])
ap['School'] = np.where(ap['School'] == "Hawaii", "Hawai'i", ap['School'])

In [16]:
# merge ap ranking to data
rankings_m = rankings.merge(ap, how = 'outer', on = 'School')

#check to see if all teams merged properly
len(rankings_m) == len(rankings)

True

In [17]:
# create a match for logos in excel
rankings_m['Logo Match'] = [i.replace(" ", '_') for i in rankings_m['School']]
rankings_m['Logo Match'] = [i.replace('&','_').replace('(','_').replace("Hawai'i",'Hawai_i').replace(')','_') for i in rankings_m['Logo Match']]

In [18]:
# change null rankings to NR
rankings_m['AP'] = np.where(rankings_m['AP'].isna(), 'NR',rankings_m['AP'])

In [19]:
# add teams true record to their school name
rankings_m = rankings_m.merge(Record, how = 'inner', left_on = 'School', right_on = 'Team')

rankings_m['School'] = rankings_m['School'] + ' ' + rankings_m['records']

#reindex columns
rankings_final = rankings_m.reset_index()[['Rank', 'School', 'Rating', 'Win %', 'Adj Win %' , 'SOS', 'Offense', 'Defense', '+/-', 'Adj +/-', 'AP', 'Logo Match']]

In [22]:
# print top 59 teams
rankings_final.head(59)

,Rank,School,Rating,Win %,Adj Win %,SOS,Offense,Defense,+/-,Adj +/-,AP,Logo Match
0,1,Georgia (4-0),129.092712,100.0,100.000000,38.0,9.0,4.0,34.666667,28.092712,1.0,Georgia
1,2,James Madison (3-0),124.221305,100.0,100.000000,21.0,20.0,22.0,20.500000,24.221305,NR,James_Madison
2,3,Ohio State (4-0),122.159843,100.0,100.000000,75.0,3.0,16.0,32.750000,22.159843,3.0,Ohio_State
3,4,Alabama (4-0),121.023220,100.0,100.000000,74.0,5.0,3.0,41.000000,21.023220,2.0,Alabama
4,5,Kansas (4-0),120.120228,100.0,100.000000,29.0,7.0,88.0,13.000000,20.120228,NR,Kansas
5,6,USC (4-0),120.093468,100.0,100.000000,60.0,12.0,25.0,24.000000,20.093468,6.0,USC
6,7,Minnesota (4-0),118.840508,100.0,100.000000,115.0,15.0,1.0,35.666667,18.840508,21.0,Minnesota
7,8,TCU (3-0),118.452258,100.0,100.000000,69.0,17.0,50.0,16.500000,18.452258,NR,TCU
8,9,Florida State (4-0),116.537865,100.0,100.000000,42.0,32.0,44.0,11.666667,15.537865,23.0,Florida_State
9,10,Washington (4-0),116.287699,100.0,100.000000,63.0,13.0,48.0,18.000000,16.287699,15.0,Washington
10,11,Ole Miss (4-0),115.157010,100.0,100.000000,77.0,30.0,7.0,22.666667,15.157010,14.0,Ole_Miss
11,12,UCLA (4-0),115.081995,100.0,100.000000,83.0,14.0,37.0,19.000000,15.081995,NR,UCLA
12,13,Penn State (4-0),114.875003,100.0,100.000000,97.0,19.0,20.0,22.000000,14.875003,11.0,Penn_State
13,14,Clemson (4-0),113.384215,100.0,100.000000,112.0,6.0,57.0,21.666667,13.384215,5.0,Clemson
14,15,LSU (3-1),111.683543,75.0,70.000000,18.0,50.0,8.0,17.333333,21.006456,NR,LSU
15,16,Mississippi State (3-1),111.915076,75.0,74.166667,36.0,21.0,35.0,16.000000,20.596972,NR,Mississippi_State
16,17,Syracuse (4-0),111.330285,100.0,100.000000,76.0,38.0,22.0,15.750000,11.330285,NR,Syracuse
17,18,NC State (4-0),110.691437,100.0,100.000000,90.0,55.0,9.0,15.000000,10.691437,10.0,NC_State
18,19,Michigan (4-0),108.809780,100.0,100.000000,126.0,2.0,6.0,39.000000,8.809780,4.0,Michigan
19,20,Kentucky (4-0),108.069599,100.0,100.000000,99.0,48.0,21.0,14.000000,8.069599,7.0,Kentucky
20,21,Illinois (3-1),107.130174,75.0,70.000000,59.0,69.0,4.0,16.666667,17.121682,NR,Illinois
21,22,Tennessee (4-0),106.358536,100.0,100.000000,119.0,4.0,26.0,29.500000,6.358536,8.0,Tennessee
22,23,Cincinnati (3-1),105.090258,75.0,70.000000,48.0,26.0,54.0,11.666667,14.891513,NR,Cincinnati
23,24,Oregon (3-1),104.492912,75.0,70.000000,4.0,56.0,101.0,-7.333333,14.238455,13.0,Oregon
24,25,Oklahoma (3-1),104.488439,75.0,72.500000,103.0,16.0,24.0,22.500000,13.235797,18.0,Oklahoma
25,26,Arkansas (3-1),101.928170,75.0,63.333333,15.0,43.0,64.0,6.333333,13.136910,20.0,Arkansas
26,27,Kansas State (3-1),101.904504,75.0,65.555556,46.0,52.0,32.0,9.333333,12.139386,25.0,Kansas_State
27,28,Baylor (3-1),101.741450,75.0,67.777778,62.0,49.0,26.0,12.000000,12.131102,16.0,Baylor
28,29,Coastal Carolina (4-0),101.466006,100.0,100.000000,120.0,18.0,65.0,13.000000,1.466006,NR,Coastal_Carolina
29,30,UNLV (3-1),101.378806,75.0,67.777778,71.0,28.0,51.0,11.666667,11.731426,NR,UNLV
30,31,BYU (3-1),101.272791,75.0,74.166667,51.0,36.0,68.0,7.000000,9.129104,19.0,BYU
31,32,Iowa (3-1),100.639168,75.0,67.777778,82.0,98.0,2.0,13.666667,10.916257,NR,Iowa
32,33,Maryland (3-1),100.512653,75.0,72.500000,85.0,22.0,45.0,14.000000,8.927174,NR,Maryland
33,34,California (3-1),100.222573,75.0,65.555556,25.0,60.0,45.0,5.666667,11.381529,NR,California
34,35,Air Force (3-1),100.219381,75.0,65.555556,107.0,32.0,13.0,18.666667,11.377981,NR,Air_Force
35,36,Iowa State (3-1),99.783981,75.0,63.333333,44.0,79.0,16.0,9.666667,11.854315,NR,Iowa_State
36,37,Texas A&M (3-1),98.614596,75.0,67.777778,16.0,105.0,13.0,2.333333,8.684939,17.0,Texas_A_M
37,38,South Alabama (3-1),98.610915,75.0,65.555556,93.0,26.0,48.0,12.333333,9.590425,NR,South_Alabama
38,39,Memphis (3-1),98.303508,75.0,77.500000,68.0,22.0,86.0,5.000000,4.771603,NR,Memphis
39,40,Duke (3-1),98.140911,75.0,63.333333,73.0,56.0,28.0,10.000000,10.012491,NR,Duke
40,41,UCF (3-1),98.062060,75.0,67.777778,89.0,73.0,9.0,12.333333,8.075980,NR,UCF
41,42,Washington State (3-1),97.677968,75.0,63.333333,65.0,43.0,37.0,10.333333,9.493549,NR,Washington_State
42,43,Middle Tennessee (3-1),96.297436,75.0,70.000000,47.0,60.0,82.0,-2.666667,5.278627,NR,Middle_Tennessee
43,44,Oregon State (3-1),96.007833,75.0,63.333333,55.0,67.0,41.0,5.666667,7.621387,NR,Oregon_State
44,45,Wake Forest (3-1),95.531345,75.0,63.333333,52.0,11.0,104.0,5.000000,7.087260,22.0,Wake_Forest
45,46,Oklahoma State (3-0),95.523470,100.0,100.000000,130.0,7.0,77.0,15.500000,-4.476530,9.0,Oklahoma_State
46,47,Texas Tech (3-1),95.329479,75.0,65.555556,14.0,65.0,76.0,-2.333333,5.943629,NR,Texas_Tech
47,48,Texas (2-2),95.457649,50.0,48.333333,43.0,24.0,40.0,14.750000,14.485121,NR,Texas
48,49,Notre Dame (2-2),94.341302,50.0,53.333333,11.0,81.0,54.0,1.000000,10.395707,NR,Notre_Dame
49,50,Pittsburgh (3-1),94.261883,75.0,67.777778,84.0,39.0,65.0,7.000000,3.887736,24.0,Pittsburgh
50,51,Indiana (3-1),93.837527,75.0,63.333333,8.0,76.0,84.0,-5.000000,4.067585,NR,Indiana
51,52,Liberty (3-1),91.931032,75.0,74.166667,102.0,74.0,43.0,4.250000,-0.937349,NR,Liberty
52,53,Appalachian State (2-2),91.375153,50.0,50.000000,10.0,31.0,92.0,0.250000,8.663982,NR,Appalachian_State
53,54,Louisville (2-2),90.890127,50.0,51.666667,32.0,84.0,31.0,4.000000,7.204767,NR,Louisville
54,55,Utah (3-1),90.884363,75.0,70.000000,129.0,47.0,18.0,15.333333,-0.639296,12.0,Utah
55,56,Tulane (3-1),90.170601,75.0,63.333333,116.0,67.0,13.0,12.000000,1.078055,NR,Tulane
56,57,North Carolina (3-1),89.158300,75.0,63.333333,64.0,10.0,125.0,-1.333333,-0.056699,NR,North_Carolina
57,58,Western Kentucky (3-1),87.902358,75.0,65.555556,131.0,1.0,19.0,34.000000,-2.310440,NR,Western_Kentucky
58,59,Auburn (3-1),86.214602,75.0,65.555556,50.0,109.0,51.0,-6.000000,-4.186115,NR,Auburn

In [23]:
# write rankings to csv
# week = 4
# sweek = str(week)
# string = syear + '_' + 'week' + sweek + '_raw.csv'
# rankings_m.to_csv('/Users/tylerhoylman/Documents/Documents - Tyler’s MacBook Pro (2)/CFP/College Football Poll/Historical Data/' + string)

In [24]:
rankings_final.to_clipboard()

## Other Visuals

In [25]:
rankings_extra = rankings_m

In [26]:
rankings_e = rankings_extra.merge(schedule2[['Losses', 'Team']], how = 'inner', on ='Team').drop_duplicates()

# top 1 loss teams
top_1_loss = rankings_e[rankings_e['Losses'] == 1][['Rank','Team']].head(5)
#top_1_loss.to_clipboard()

In [27]:
# top 2 loss teams
top_2_loss = rankings_e[rankings_e['Losses'] == 2][['Rank','Team']].head(5)
#top_2_loss.to_clipboard()

In [28]:
rankings_e['AP'] = np.where(rankings_e['AP'] == 'NR', 26, rankings_e['AP'])
rankings_e['AP'] = [float(i) for i in rankings_e['AP']]

In [29]:
rankings_e['Difference'] = rankings_e['AP'] - rankings_e['Rank']

In [30]:
# top 5 overrated
top_5_over = rankings_e[(rankings_e['Rank'] < 26) | (rankings_e['AP'] < 26)][['Team','Rank','AP', 'Difference']].sort_values('Difference').head(5)
#top_5_over.to_clipboard()

In [31]:
# top 5 underrated
top_5_u = rankings_e[(rankings_e['Rank'] < 26) | (rankings_e['AP'] < 26)][['Team','Rank','AP', 'Difference']].sort_values('Difference', ascending = False).head(5)
top_5_u['AP'] = np.where(top_5_u['AP'] == 26, 'NR', top_5_u['AP'])
#top_5_u.to_clipboard()