In [25]:
# Load Packages
from IPython.core.display import HTML
import xlrd as xl
import numpy as np
import pandas as pd
import requests
import json
from io import StringIO
import numpy as np
import requests
from bs4 import BeautifulSoup

In [26]:
# input year
year = int(input("What year is it? :"))
syear = str(year)

What year is it? :2024

In [27]:
# scrape data
response = requests.get(
    "https://api.collegefootballdata.com/games",
    params={"year": year, "seasonType": "both"},
    headers = {"Authorization": "Bearer G7EL3wSl1uoDYSQOw1aVQ+yKey9MG1nYqP3pLaW+sPKAzo/NiGJiKLi5fHo38xXa"}
)

# read data as simplestring
data = pd.read_json(StringIO(response.text))

In [28]:
# only include games that have already been played
data = data[
    (data['home_points'] == data['home_points'])
    & (data['away_points'] == data['away_points'])
    & (pd.notna(data['home_conference']))
    & (pd.notna(data['away_conference']))
]

#create copy for dataset with all teams
data2 = data
# only include teams in division one FBS
data = data[data['home_division']== 'fbs']
data = data[data['away_division'] == 'fbs']

In [29]:
# create spread variable
data['home_spread'] = data['home_points'] - data['away_points']
data['away_spread'] = -data['home_spread']


# change postseason games from week 1 to week 15
data['week'] = np.where(data['season_type'] == 'postseason',15, data['week'])

# subtract 2.5 points from the home teams spread, keep neutral as is, and add 2.5 to away teams.
data['home_spread_adj'] = np.where(data['neutral_site'] == True, data['home_spread'], (data['home_spread'] - 2.5))
data['away_spread_adj'] = -data['home_spread_adj']


# convert each game into two rows, one for each team and remove unwated rows.
teams = pd.concat([
    data[['home_team', 'home_spread', 'home_spread_adj', 'away_team', ]].rename(columns={'home_team': 'team', 'home_spread': 'spread',  'away_team': 'opponent', 'home_spread_adj' : 'adj_spread'}),
    data[['away_team', 'away_spread', 'away_spread_adj', 'home_team' ,]].rename(columns={'away_team': 'team', 'away_spread': 'spread',  'home_team': 'opponent', 'away_spread_adj' : 'adj_spread'})
])



# set maximum spread for win or loss to 28 and -28 respectively
teams['adj_spread'] = np.where(teams['adj_spread'] > 28, 28, teams['adj_spread']) # cap the upper bound scoring margin at +28 points
teams['adj_spread'] = np.where(teams['adj_spread'] < -28, -28, teams['adj_spread']) # cap the lower bound scoring margin at -28 points

# group rows by team
spreads = teams.groupby('team').adj_spread.mean()
spreads.head()


# create empty arrays
ts = []
vics = []
terms = []
solutions = []
loss = []
schedule = pd.DataFrame(columns = ['Team', 'Victories'])

for team in spreads.keys():
    row = []
 # get a list of team opponents
    opps = list(teams[teams['team'] == team]['opponent'])
# list of wins
    win = list(teams[(teams['team'] == team) & (teams['spread'] > 0)]['opponent'])
    losses = list(teams[(teams['team'] == team) & (teams['spread'] < 0)]['opponent'])

    for opp in spreads.keys():
        if opp == team:
    # set opponents coefficient to 1 
            row.append(1)
        elif opp in opps:
            # coefficient for opponents should be 1 over the number of opponents
        	row.append(-1.0/len(opps))
        else:
            # teams not yet played recieve a coefficient of zero
            row.append(0)
    terms.append(row)

    # average game spread on the other side of the equation
    solutions.append(spreads[team])
    
    # save opponents
    loss.append(losses)
    ts.append(team)
    vics.append(win)
    

schedule['Team'] = ts
schedule['Victories'] = vics
schedule['Losses'] = loss
# solve the linear equation    
solutions = np.linalg.solve(np.array(terms), np.array(solutions))


# add team names to solutions and create dataframe
ratings = list(zip( spreads.keys(), solutions ))
PR = pd.DataFrame(ratings, columns=['team', 'adj'])

In [30]:
# create spread variable
data2['home_spread'] = data2['home_points'] - data2['away_points']
data2['away_spread'] = -data2['home_spread']


# convert each game into two rows, one for each team and remove unwated rows.
teams2 = pd.concat([
    data2[['home_team', 'home_spread', 'away_team', ]].rename(columns={'home_team': 'team', 'home_spread': 'spread',  'away_team': 'opponent'}),
    data2[['away_team', 'away_spread', 'home_team' ,]].rename(columns={'away_team': 'team', 'away_spread': 'spread',  'home_team': 'opponent'})
])

#list of teams
teams3 = list(teams2.team)

In [31]:
# create empty arrays
ts2 = []
vics2 = []
loss2 = []
schedule2 = pd.DataFrame(columns = ['Team', 'Victories','Losses'])

for team in teams3:
 # get a list of team opponents
    opps = list(teams2[teams2['team'] == team]['opponent'])
# list of wins
    win = list(teams2[(teams2['team'] == team) & (teams2['spread'] > 0)]['opponent'])
    losses = list(teams2[(teams2['team'] == team) & (teams2['spread'] < 0)]['opponent'])
    
    # save opponents
    loss2.append(losses)
    ts2.append(team)
    vics2.append(win)

In [32]:
# calculations in this cell are to define a teams true record
schedule2['Team'] = ts2
schedule2['Victories'] = vics2
schedule2['Losses'] = loss2


schedule2 = schedule2[schedule2['Team'].isin(schedule['Team'])]
records = []
win_p = []
loss_count = []
for ind,row in schedule2.iterrows():
    lc = len(row['Losses'])
    rec = '(' + str(len(row['Victories'])) + '-' + str(len(row['Losses'])) + ')'
    per = len(row['Victories']) / (len(row['Victories']) + len(row['Losses']))  
    records.append(rec)
    win_p.append(per)
    loss_count.append(lc)
        
schedule2['records'] = records
schedule2['Losses'] = loss_count
schedule2['Win %'] = win_p
schedule2['Win %'] = schedule2['Win %'] * 100
Record = schedule2[['Team','records','Win %']].drop_duplicates()
Record['Team'] = np.where(Record['Team'] == 'Miami (OH)', "Miami_OH", Record['Team'])

In [33]:

# sets mean adj +/- score to zero (added after week 7 2021)
mean = PR.adj.mean()
PR['adj'] = PR['adj'] - mean

# create new data frame for each game containing columns listed below
home_teams = pd.concat([
    data[['home_team', 'home_points', 'away_points', 'away_team' ,'week']].rename(columns={'home_team': 'team', 'home_points': 'offense',  'away_points': 'defense', 'away_team' : 'opponent'})
    ])

away_teams = pd.concat([
    data[['away_team', 'away_points', 'home_points', 'home_team','week' ]].rename(columns={'away_team': 'team', 'away_points': 'offense',  'home_points': 'defense', 'home_team' : 'opponent' })
    ])

stats = home_teams.append(away_teams)

# create a binary win variable
stats['win'] = np.where(stats['offense'] > stats['defense'], 1, 0)

# variable used to help define adj win percentage
win_a_function = ((stats.iloc[0,4] + stats.iloc[-1,4])/50)*2

# create variable used to calculate adjusted win percentage
stats['win_adj'] = np.where(stats['offense'] > stats['defense'], 1, ((stats.iloc[0,4] + stats.iloc[-1,4])/50) -((win_a_function/(stats.iloc[-1,4]-stats.iloc[0,4]))*(stats['week']-1)))

# create variable for true +/- value
stats['margin'] = stats['offense'] - stats['defense']

# create a count variable
stats['game'] = 1

#join stats and PR on opponent column
stats2 = pd.merge(stats, PR, left_on = 'opponent', right_on = 'team', how = 'left')

# create a games played count for each team
total_games = stats.groupby('team').game.sum()

# creates a vector holding average true +/- value of each team
margin = stats.groupby('team').margin.mean()

# creates an average points scored vector 
offense = stats.groupby('team').offense.mean()

# creates an average points allowed vector 
defense = stats.groupby('team').defense.mean()

# creates a true win percentage vector
win_per = stats.groupby('team').win.mean()

# creates an adjusted win percentage vector 
adj_win_per = stats.groupby('team').win_adj.mean()

# creates a strength of schedule vector
SOS = stats2.groupby('team_x').adj.mean()

# appends total games vector to data frame
PR['total_games'] = total_games.values

# appends strength of schedule vector to data frame
PR['SOS'] = SOS.values

# appends avereage points scored vector to data frame
PR['offense'] = offense.values

# appends avereage points allowed vector to data frame
PR['defense'] = defense.values

# appends true win percentage vector to data frame
PR['win %'] = win_per.values

# appends true +/- vector to data frame
PR['avg +/-'] = margin.values

# appends adj win percentage vector to data frame
PR['adj win %'] = adj_win_per.values

# alters adj win percentage of teams with zero wins
PR['adj win %'] = np.where(PR['win %'] == 0, .4 / (PR['total_games']), PR['adj win %'])

# ranks teams offenses
PR['offense'] = PR['offense'].rank(method='min', ascending=False)

# ranks teams defenses
PR['defense'] = PR['defense'].rank(method='min')

# ranks teams strength of schedule
PR['SOS'] = PR['SOS'].rank(method='min', ascending=False)

# creates function used to calculate rating
def square2(x):
    return np.sqrt(np.sqrt(x))

# calculates rating
PR['rating'] = (PR['adj'] + 100) * square2(PR['adj win %'])

# multiplies win % by 100
PR['win %'] = PR['win %']*100

# multiplies adj win % by 100
PR['adj win %'] = PR['adj win %']*100

# rename columns
PR = PR.rename(columns={'team': 'School', 'rating': 'Rating',  'win %' : "Win %", 'adj win %' : 'Adj Win %', 'offense' : 'Offense' , 'defense' : 'Defense', 'avg +/-' : '+/-', 'adj' : 'Adj +/-'}) 

# sorts values by rating
rankings = PR.sort_values('Rating', ascending=False).reset_index()[['School', 'Rating','Adj Win %', 'SOS', 'Offense', 'Defense','+/-','Adj +/-']]

/var/folders/qd/l_m84yss1zq1vdc9vp48synh0000gn/T/ipykernel_1316/4240839723.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stats = home_teams.append(away_teams)

In [34]:
# add rating points for victorie over top 25 teams
# top 25 = 1
# top 10 = 2
# top 5 = 3
top25 = list(rankings.School.head(25))
top10 = list(rankings.School.head(10))
top5 = list(rankings.School.head(5))
ratings = []
for ind,row in rankings.iterrows():
    t = row['School']
    vict = schedule[schedule['Team'] == t].iloc[0,1]
    rating = row['Rating']
    for i in vict:
        if i in top25:
            rating = rating + 1
        if i in top10:
            rating = rating + 1
        if i in top5:
            rating = rating + 1
    ratings.append(rating)
rankings['Rating'] = ratings

In [35]:
# sort by rating
rankings.sort_values('Rating', ascending = False,inplace = True)

rankings = rankings.reset_index()

# create rank columns
r = []
for i in rankings.index:
    r.append(i + 1)
rankings['Rank'] = r

# reorder columns
rankings = rankings.reset_index()[['Rank','School', 'Rating','Adj Win %', 'SOS', 'Offense', 'Defense','+/-','Adj +/-']]

In [36]:
# flip schools who are ranked directly under a team they beat, but has not beat them.
prev = rankings['School'][0]
rank = []
for ind,row in rankings.iterrows():
    t = row['School']
    v = schedule[schedule['Team'] == t].iloc[0,1]
    v2 = schedule[schedule['Team'] == prev].iloc[0,1]
    r = row['Rank']
    for i in v:
        if i == prev:
            r = r - 1
            for i in v2:
                if i == row['School']:
                    r = r + 1
    rank.append(r)
    prev = row['School']
rankings['Rank'] = rank

In [37]:
check = pd.DataFrame(rankings.Rank.value_counts())
switch = list(check[check['Rank'] == 2].index)
ranks = []
for i in rankings['Rank']:
    if i in switch:
        switch.remove(i)
        i = i + 1
    ranks.append(i)
rankings['Rank'] = ranks

In [38]:
# resort with new ranks
rankings.sort_values('Rank', ascending = True,inplace = True)
rankings = rankings.reset_index()
rankings.drop(columns = 'index', inplace = True)

In [39]:
# Downloading contents from AP Poll
url = "http://www.collegepollarchive.com/football/ap/seasons.cfm?seasonid=" + syear
data = requests.get(url).text

# Creating BeautifulSoup object
soup = BeautifulSoup(data, 'html.parser')

# Creating list with all tables
rows = soup.find_all('tr')

# loop to create attach ap rankings to all ranked schools
ap = pd.DataFrame()
rank = []
college = []
for i in range(1,26):
    try:
        rank.append(i)
        college.append(rows[i].find_all('td')[3].text.split(' (')[0])
    except:
        continue
ap['AP'] = rank
ap['School'] = college

# alter names to match internal rankings
ap['School'] = np.where(ap['School'] == 'Mississippi', 'Ole Miss', ap['School'])
ap['School'] = np.where(ap['School'] == 'San Jose State', 'San José State', ap['School'])
ap['School'] = np.where(ap['School'] == 'Southern Miss', 'Southern Mississippi', ap['School'])
ap['School'] = np.where(ap['School'] == "Hawaii", "Hawai'i", ap['School'])

In [40]:
# merge ap ranking to data
rankings_m = rankings.merge(ap, how = 'outer', on = 'School')

#check to see if all teams merged properly
len(rankings_m) == len(rankings)

True

In [41]:
rankings_m['School'] = np.where(rankings_m['School'] == 'Miami (OH)', "Miami_OH", rankings_m['School'])

In [42]:
# create a match for logos in excel
rankings_m['Logo Match'] = [i.replace(" ", '_') for i in rankings_m['School']]
rankings_m['Logo Match'] = [i.replace('&','_').replace('(','_').replace("Hawai'i",'Hawai_i').replace(')','_') for i in rankings_m['Logo Match']]

In [43]:
# change null rankings to NR
rankings_m['AP'] = np.where(rankings_m['AP'].isna(), 'NR',rankings_m['AP'])

### Change the next cell every week

In [44]:
# import last weeks rankings
week = int(input('What week is it? :'))
lw = week - 1
last_week = pd.read_csv('/Users/tylerhoylman/Documents/Documents - Tyler’s MacBook Pro (2)/Website/CFP/College Football Poll/Historical Data/2024_week' + str(lw) + '_raw.csv')

What week is it? :15

In [45]:
last_week = last_week[['School', 'Rank']]
SCHOOL = []
for i in last_week['School']:
    if type(i) == str:
        SCHOOL.append(i.split(' (')[0])
    else: 
        SCHOOL.append(np.nan)
last_week.rename(columns = {'Rank' : 'Last'}, inplace = True)
last_week['School'] = SCHOOL

In [46]:
rankings_m = rankings_m.merge(last_week, how = 'outer', on = 'School')
rankings_m['Change'] = rankings_m['Last'] - rankings_m['Rank']
rankings_m.drop(columns = 'Last',inplace = True)

In [47]:
# add teams true record to their school name
rankings_m = rankings_m.merge(Record, how = 'outer', left_on = 'School', right_on = 'Team')

rankings_m['School'] = rankings_m['School'] + ' ' + rankings_m['records']

#reindex columns
rankings_final = rankings_m.reset_index()[['Rank', 'School', 'Rating', 'Win %', 'Adj Win %' , 'SOS', 'Offense', 'Defense', '+/-', 'Adj +/-', 'AP','Change', 'Logo Match']]

In [48]:
# print top 59 teams
rankings_final.head(59)

,Rank,School,Rating,Win %,Adj Win %,SOS,Offense,Defense,+/-,Adj +/-,AP,Change,Logo Match
0,1,Ohio State (12-2),128.146222,85.714286,84.419048,25.0,6.0,1.0,24.285714,24.299724,6.0,1,Ohio_State
1,2,Notre Dame (13-1),126.829236,92.857143,94.961905,52.0,3.0,2.0,24.142857,22.400918,3.0,1,Notre_Dame
2,3,Oregon (13-1),124.501475,92.857143,90.041026,24.0,9.0,16.0,15.846154,19.597284,1.0,-2,Oregon
3,4,Georgia (11-3),116.265554,78.571429,75.005128,3.0,37.0,24.0,8.307692,16.336920,2.0,0,Georgia
4,5,Penn State (13-2),118.592786,86.666667,84.248889,42.0,19.0,5.0,17.933333,19.609654,5.0,5,Penn_State
5,5,Texas (13-2),117.475507,86.666667,84.853333,36.0,15.0,3.0,19.800000,20.315796,4.0,0,Texas
6,6,Ole Miss (10-3),114.012700,76.923077,75.188889,58.0,10.0,4.0,19.916667,19.215918,16.0,3,Ole_Miss
7,8,BYU (11-2),112.158414,84.615385,80.311111,48.0,36.0,18.0,10.166667,15.309027,17.0,6,BYU
8,9,Indiana (11-2),110.937028,84.615385,79.177778,62.0,2.0,7.0,21.666667,17.604977,9.0,-2,Indiana
9,10,Alabama (9-4),109.743608,69.230769,63.644444,19.0,29.0,9.0,14.000000,17.270129,11.0,-4,Alabama
10,11,Arizona State (11-3),109.470709,78.571429,78.085714,49.0,25.0,31.0,10.357143,13.262788,10.0,1,Arizona_State
11,12,SMU (11-3),109.061071,78.571429,74.656410,56.0,13.0,38.0,11.538462,15.176747,12.0,-4,SMU
12,13,South Carolina (9-4),107.708359,69.230769,67.800000,14.0,53.0,10.0,9.750000,16.493558,14.0,-2,South_Carolina
13,14,Miami (10-3),106.699641,76.923077,69.522222,63.0,1.0,70.0,16.250000,15.755758,15.0,-1,Miami
14,15,LSU (9-4),106.487634,69.230769,67.044444,2.0,49.0,53.0,4.750000,14.366218,NR,6,LSU
15,16,Boise State (12-2),105.596040,85.714286,84.615385,84.0,8.0,38.0,12.615385,10.099488,8.0,-1,Boise_State
16,17,Louisville (9-4),104.720504,69.230769,67.800000,27.0,14.0,64.0,8.250000,14.302886,NR,1,Louisville
17,18,Tennessee (10-3),104.635804,76.923077,72.166667,57.0,26.0,8.0,15.750000,12.441249,7.0,-2,Tennessee
18,19,Iowa State (11-3),104.632818,78.571429,73.261538,32.0,31.0,52.0,7.384615,12.015546,18.0,1,Iowa_State
19,20,Clemson (10-4),103.790148,71.428571,67.138462,44.0,22.0,48.0,9.307692,12.450890,13.0,-1,Clemson
20,21,Illinois (10-3),102.539037,76.923077,75.566667,34.0,64.0,41.0,3.416667,8.905666,21.0,6,Illinois
21,22,Florida (8-5),102.064554,61.538462,62.300000,4.0,64.0,50.0,2.500000,11.505497,NR,11,Florida
22,23,Colorado (9-4),101.869454,69.230769,65.533333,45.0,24.0,33.0,10.250000,13.221373,20.0,-6,Colorado
23,24,Michigan (8-5),101.392197,61.538462,63.456410,9.0,103.0,17.0,2.076923,9.120233,NR,12,Michigan
24,25,Kansas State (9-4),100.557665,69.230769,64.400000,35.0,41.0,56.0,5.166667,11.135610,NR,1,Kansas_State
25,26,Missouri (10-3),100.262986,76.923077,74.433333,50.0,63.0,26.0,5.000000,7.944064,23.0,3,Missouri
26,27,Army (12-2),100.147242,85.714286,80.430769,119.0,37.0,6.0,14.076923,5.750746,19.0,1,Army
27,28,Syracuse (10-3),99.919368,76.923077,75.566667,60.0,23.0,96.0,3.000000,6.095941,22.0,-3,Syracuse
28,29,TCU (9-4),99.650785,69.230769,70.822222,61.0,28.0,70.0,5.833333,8.627138,NR,5,TCU
29,30,UNLV (11-3),99.363267,78.571429,75.353846,87.0,27.0,23.0,10.692308,6.647212,24.0,0,UNLV
30,31,Ohio (11-3),99.219161,78.571429,81.282051,109.0,43.0,13.0,10.846154,4.495331,NR,1,Ohio
31,32,Baylor (8-5),99.178017,61.538462,62.300000,40.0,21.0,81.0,4.833333,10.507624,NR,-10,Baylor
32,33,Navy (10-3),98.942094,76.923077,72.922222,85.0,44.0,29.0,7.583333,5.987443,NR,5,Navy
33,34,Texas A&M (8-5),98.138173,61.538462,54.366667,17.0,52.0,40.0,5.333333,11.959949,NR,-10,Texas_A_M
34,35,Iowa (8-5),97.950570,61.538462,58.522222,46.0,67.0,15.0,7.333333,11.989360,NR,-12,Iowa
35,36,Memphis (11-2),97.834474,84.615385,84.466667,116.0,11.0,63.0,9.500000,2.051778,25.0,3,Memphis
36,37,Minnesota (7-5),97.620917,58.333333,58.048485,38.0,86.0,14.0,5.272727,10.693835,NR,0,Minnesota
37,38,USC (7-6),97.569110,53.846154,54.543590,16.0,40.0,47.0,6.076923,12.370497,NR,6,USC
38,39,Virginia Tech (6-6),94.822036,50.000000,52.644444,54.0,47.0,32.0,6.916667,11.319472,NR,3,Virginia_Tech
39,40,Marshall (10-3),97.153239,76.923077,79.722222,86.0,35.0,54.0,6.000000,2.816410,NR,-5,Marshall
40,41,Texas Tech (8-5),93.728519,61.538462,57.388889,53.0,5.0,113.0,2.916667,5.389520,NR,-10,Texas_Tech
41,42,Kansas (5-7),93.289651,41.666667,43.163636,8.0,54.0,78.0,-0.090909,10.159414,NR,4,Kansas
42,43,James Madison (9-4),92.460368,69.230769,64.022222,125.0,12.0,22.0,13.333333,3.364863,NR,4,James_Madison
43,44,Tulane (9-5),92.431549,64.285714,59.271795,78.0,18.0,28.0,11.538462,5.343614,NR,-5,Tulane
44,45,Miami_OH (9-5),92.121438,64.285714,68.657143,90.0,87.0,11.0,5.285714,1.202042,NR,7,Miami_OH
45,46,Nebraska (7-6),91.948305,53.846154,47.733333,26.0,98.0,20.0,1.833333,9.418100,NR,7,Nebraska
46,47,Duke (9-4),91.606633,69.230769,64.400000,65.0,71.0,66.0,0.083333,2.259922,NR,-6,Duke
47,48,Vanderbilt (7-6),90.291105,53.846154,48.866667,18.0,78.0,60.0,-0.333333,6.796007,NR,12,Vanderbilt
48,49,Northern Illinois (8-5),89.928785,61.538462,59.655556,96.0,102.0,12.0,3.250000,-1.087566,NR,8,Northern_Illinois
49,50,Texas State (7-5),89.716836,58.333333,55.987879,110.0,4.0,44.0,13.363636,3.717120,NR,1,Texas_State
50,51,Georgia Tech (7-6),89.657253,53.846154,49.622222,31.0,69.0,75.0,-0.750000,5.631931,NR,-8,Georgia_Tech
51,52,Arkansas (7-6),89.593441,53.846154,50.000000,41.0,59.0,73.0,0.583333,5.355951,NR,12,Arkansas
52,53,Jacksonville State (9-5),89.288825,64.285714,66.714286,131.0,7.0,65.0,9.857143,-1.203310,NR,-5,Jacksonville_State
53,54,UConn (9-4),89.178425,69.230769,70.066667,122.0,49.0,43.0,5.750000,-2.527539,NR,7,UConn
54,55,Sam Houston (10-3),88.945037,76.923077,77.794872,129.0,92.0,19.0,3.307692,-5.292586,NR,3,Sam_Houston
55,56,Louisiana (10-4),88.757513,71.428571,65.046154,112.0,37.0,58.0,5.000000,-1.167514,NR,-11,Louisiana
56,57,Rutgers (7-6),88.061524,53.846154,47.355556,43.0,59.0,72.0,0.750000,6.155735,NR,-7,Rutgers
57,58,Boston College (7-6),87.133433,53.846154,49.244444,55.0,73.0,62.0,0.083333,4.014890,NR,-9,Boston_College
58,59,Buffalo (8-4),85.561841,66.666667,67.757576,120.0,51.0,87.0,-0.363636,-5.693711,NR,7,Buffalo

In [25]:
rankings_final[59:100]

,Rank,School,Rating,Win %,Adj Win %,SOS,Offense,Defense,+/-,Adj +/-,AP,Change,Logo Match
59,60,Vanderbilt (6-6),86.380925,50.000000,41.678322,14.0,86.0,62.0,-1.090909,6.263300,NR,-10,Vanderbilt
60,61,UConn (8-4),86.339726,66.666667,65.734266,124.0,46.0,56.0,5.090909,-4.112342,NR,6,UConn
61,62,Colorado State (8-4),86.185570,66.666667,66.573427,101.0,90.0,60.0,-1.181818,-4.586609,NR,9,Colorado_State
62,63,Western Kentucky (8-4),85.945922,66.666667,63.216783,127.0,71.0,55.0,2.090909,-3.613286,NR,9,Western_Kentucky
63,64,Pittsburgh (7-5),85.398457,58.333333,45.104895,51.0,54.0,77.0,0.454545,4.206331,NR,-9,Pittsburgh
64,65,Arkansas (6-6),85.132325,50.000000,42.937063,39.0,66.0,75.0,-0.545455,3.933322,NR,-8,Arkansas
65,66,Washington (6-6),84.311591,50.000000,43.776224,24.0,108.0,57.0,-3.272727,3.652005,NR,-8,Washington
66,67,Buffalo (8-4),83.822918,66.666667,66.153846,121.0,49.0,87.0,-0.363636,-7.055434,NR,9,Buffalo
67,68,West Virginia (6-6),83.663760,50.000000,45.454545,17.0,66.0,109.0,-6.000000,1.892696,NR,-12,West_Virginia
68,69,Liberty (8-3),83.556136,72.727273,65.153846,134.0,44.0,41.0,6.500000,-6.997776,NR,-7,Liberty
69,70,UCLA (5-7),83.430724,41.666667,42.628205,8.0,123.0,63.0,-6.833333,2.015192,NR,11,UCLA
70,71,California (6-6),83.116324,50.000000,42.937063,67.0,73.0,39.0,2.636364,2.678199,NR,-12,California
71,72,NC State (6-6),82.457534,50.000000,46.293706,62.0,52.0,100.0,-3.000000,-0.034566,NR,12,NC_State
72,73,North Carolina (6-6),82.915970,50.000000,43.776224,66.0,36.0,89.0,1.363636,1.936241,NR,-10,North_Carolina
73,74,Auburn (5-7),82.034513,41.666667,37.832168,40.0,93.0,39.0,0.636364,4.599907,NR,-10,Auburn
74,75,South Alabama (6-6),81.932983,50.000000,48.391608,93.0,40.0,71.0,3.272727,-1.765000,NR,-5,South_Alabama
75,76,Old Dominion (5-7),80.682499,41.666667,43.782051,69.0,55.0,79.0,0.000000,-0.812872,NR,9,Old_Dominion
76,77,Toledo (7-5),80.663107,58.333333,50.559441,111.0,82.0,34.0,2.272727,-4.341320,NR,-4,Toledo
77,78,East Carolina (7-5),80.330879,58.333333,55.594406,123.0,34.0,94.0,1.545455,-6.969631,NR,-4,East_Carolina
78,79,Cincinnati (5-7),79.927726,41.666667,30.699301,19.0,87.0,60.0,-1.000000,6.034567,NR,-4,Cincinnati
79,80,San José State (7-5),79.599144,58.333333,51.398601,102.0,72.0,70.0,-0.454545,-5.990753,NR,8,San_José_State
80,81,Utah (5-7),78.968761,41.666667,31.118881,35.0,109.0,35.0,-1.272727,4.391380,NR,17,Utah
81,82,South Florida (6-6),77.672845,50.000000,46.293706,97.0,41.0,100.0,-1.454545,-5.835170,NR,-5,South_Florida
82,83,Fresno State (6-6),77.638168,50.000000,44.195804,104.0,80.0,53.0,0.727273,-4.779596,NR,-4,Fresno_State
83,84,UTSA (6-6),77.412582,50.000000,47.552448,113.0,37.0,113.0,-2.454545,-6.778018,NR,-4,UTSA
84,85,Wisconsin (5-7),77.237208,41.666667,30.699301,13.0,101.0,48.0,-1.818182,3.763460,NR,-7,Wisconsin
85,86,Western Michigan (6-6),76.128197,50.000000,45.874126,108.0,65.0,103.0,-4.727273,-7.497474,NR,7,Western_Michigan
86,87,Arkansas State (7-5),76.056812,58.333333,53.916084,98.0,87.0,108.0,-8.363636,-11.241791,NR,-5,Arkansas_State
87,88,Coastal Carolina (6-6),74.919624,50.000000,41.678322,91.0,50.0,103.0,-2.545455,-6.756615,NR,11,Coastal_Carolina
88,89,North Texas (6-6),74.844182,50.000000,40.839161,109.0,23.0,120.0,-1.909091,-6.375644,NR,5,North_Texas
89,90,Houston (4-8),74.601352,33.333333,33.717949,26.0,130.0,38.0,-8.916667,-2.100289,NR,-3,Houston
90,91,Michigan State (5-7),74.301255,41.666667,33.216783,30.0,126.0,82.0,-11.000000,-3.445611,NR,-5,Michigan_State
91,92,Virginia (5-7),73.669140,41.666667,30.699301,20.0,104.0,96.0,-8.545455,-1.030020,NR,-2,Virginia
92,93,App State (5-6),73.558890,45.454545,40.461538,71.0,75.0,118.0,-9.700000,-7.769499,NR,-4,App_State
93,94,Kentucky (4-8),73.299057,33.333333,24.755245,7.0,124.0,45.0,-5.454545,2.498102,NR,-11,Kentucky
94,95,New Mexico (5-7),72.714612,41.666667,47.132867,122.0,24.0,127.0,-4.545455,-12.241189,NR,-4,New_Mexico
95,96,Air Force (5-7),71.641660,41.666667,41.188811,96.0,121.0,58.0,-6.090909,-10.572555,NR,7,Air_Force
96,97,UCF (4-8),71.425879,33.333333,21.818182,22.0,55.0,85.0,-1.090909,4.508342,NR,-5,UCF
97,98,Charlotte (5-7),69.828238,41.666667,39.090909,77.0,94.0,121.0,-12.545455,-11.689541,NR,7,Charlotte
98,99,Florida International (4-8),69.474824,33.333333,36.153846,132.0,79.0,48.0,0.909091,-10.403957,NR,8,Florida_International
99,100,Troy (4-8),69.007289,33.333333,32.727273,90.0,77.0,91.0,-4.636364,-8.763732,NR,9,Troy

In [26]:
rankings_final[100:]

,Rank,School,Rating,Win %,Adj Win %,SOS,Offense,Defense,+/-,Adj +/-,AP,Change,Logo Match
100,101,Louisiana Tech (5-7),68.715607,41.666667,35.734266,133.0,102.0,22.0,1.090909,-11.124067,NR,7,Louisiana_Tech
101,102,Oregon State (5-7),68.541056,41.666667,31.538462,75.0,97.0,99.0,-8.272727,-8.538007,NR,-7,Oregon_State
102,103,Northwestern (4-8),67.622872,33.333333,23.916084,33.0,129.0,80.0,-11.454545,-3.301198,NR,-7,Northwestern
103,104,Wake Forest (4-8),67.109663,33.333333,24.335664,45.0,89.0,115.0,-10.363636,-4.451416,NR,-3,Wake_Forest
104,105,Arizona (4-8),66.955743,33.333333,23.076923,32.0,103.0,114.0,-12.000000,-3.396389,NR,-8,Arizona
105,106,Akron (4-8),66.912880,33.333333,32.727273,73.0,118.0,112.0,-13.636364,-11.532802,NR,5,Akron
106,107,Maryland (4-8),66.838154,33.333333,21.818182,16.0,99.0,100.0,-9.000000,-2.204289,NR,-7,Maryland
107,108,Hawai'i (5-7),66.268127,41.666667,32.076923,88.0,116.0,86.0,-9.400000,-11.944494,NR,6,Hawai_i
108,109,UL Monroe (5-7),65.297596,41.666667,27.762238,79.0,113.0,94.0,-9.909091,-10.043287,NR,-7,UL_Monroe
109,110,Utah State (4-8),65.175238,33.333333,29.370629,86.0,35.0,129.0,-8.363636,-11.467178,NR,-6,Utah_State
110,111,Rice (4-8),65.152788,33.333333,29.790210,82.0,125.0,74.0,-9.181818,-11.810960,NR,5,Rice
111,112,Wyoming (3-9),64.927134,25.000000,28.531469,83.0,115.0,87.0,-9.454545,-11.162731,NR,7,Wyoming
112,113,Eastern Michigan (5-7),64.227957,41.666667,30.279720,120.0,78.0,97.0,-5.454545,-13.416300,NR,-7,Eastern_Michigan
113,114,Stanford (3-9),60.758115,25.000000,15.874126,10.0,110.0,122.0,-14.909091,-5.327372,NR,-4,Stanford
114,115,UTEP (3-9),60.452580,25.000000,30.209790,117.0,120.0,110.0,-13.727273,-18.458647,NR,8,UTEP
115,116,Temple (3-9),58.785040,25.000000,26.346154,99.0,117.0,119.0,-15.833333,-17.948314,NR,-4,Temple
116,117,Central Michigan (4-8),58.709350,33.333333,24.755245,103.0,122.0,103.0,-12.818182,-16.767974,NR,-4,Central_Michigan
117,118,Oklahoma State (3-9),57.556427,25.000000,12.937063,31.0,73.0,124.0,-11.363636,-4.030130,NR,-3,Oklahoma_State
118,119,Nevada (3-10),56.966420,23.076923,15.897436,70.0,112.0,90.0,-8.916667,-9.783254,NR,-2,Nevada
119,120,UAB (3-9),56.104320,25.000000,17.972028,89.0,80.0,125.0,-12.272727,-13.831798,NR,-2,UAB
120,121,Florida State (2-10),55.180870,16.666667,12.027972,5.0,133.0,91.0,-16.818182,-6.299816,NR,-1,Florida_State
121,122,Georgia State (3-9),54.031268,25.000000,14.195804,72.0,90.0,116.0,-11.181818,-11.975177,NR,-1,Georgia_State
122,123,Florida Atlantic (3-9),53.960454,25.000000,17.972028,126.0,83.0,107.0,-7.545455,-17.124469,NR,7,Florida_Atlantic
123,124,Ball State (3-9),53.326973,25.000000,14.615385,81.0,90.0,131.0,-16.818182,-13.752926,NR,-2,Ball_State
124,125,Mississippi State (2-10),51.747053,16.666667,8.671329,9.0,96.0,123.0,-13.454545,-4.640446,NR,0,Mississippi_State
125,126,Kennesaw State (2-10),51.150642,16.666667,18.391608,125.0,127.0,106.0,-15.000000,-21.891884,NR,-2,Kennesaw_State
126,127,New Mexico State (3-9),50.877991,25.000000,17.972028,119.0,107.0,126.0,-16.636364,-21.858692,NR,-1,New_Mexico_State
127,128,Middle Tennessee (3-9),50.146491,25.000000,17.972028,112.0,127.0,117.0,-18.272727,-22.982171,NR,0,Middle_Tennessee
128,129,San Diego State (3-9),50.134299,25.000000,13.356643,106.0,119.0,98.0,-11.818182,-17.070201,NR,-2,San_Diego_State
129,130,Tulsa (3-9),47.100213,25.000000,15.874126,128.0,104.0,133.0,-22.181818,-25.380830,NR,-1,Tulsa
130,131,Purdue (1-11),39.243887,8.333333,3.636364,3.0,134.0,132.0,-30.818182,-10.131978,NR,0,Purdue
131,132,Massachusetts (2-10),36.839011,16.666667,4.000000,78.0,114.0,128.0,-18.800000,-17.625467,NR,0,Massachusetts
132,133,Kent State (0-12),32.649919,0.000000,3.636364,76.0,131.0,134.0,-32.363636,-25.232083,NR,1,Kent_State
133,134,Southern Miss (1-11),32.547566,8.333333,3.636364,80.0,132.0,130.0,-26.818182,-25.466470,NR,-1,Southern_Miss

In [27]:
rankings_final.to_clipboard()

In [28]:
#write rankings to csv
sweek = str(week)
string = syear + '_' + 'week' + sweek + '_raw.csv'
rankings_final.to_csv('/Users/tylerhoylman/Documents/Documents - Tyler’s MacBook Pro (2)/Website/CFP/College Football Poll/Historical Data/' + string)

## Other Visuals

In [29]:
rankings_extra = rankings_m

In [30]:
rankings_final.sort_values('SOS', ascending = True).head(50)

,Rank,School,Rating,Win %,Adj Win %,SOS,Offense,Defense,+/-,Adj +/-,AP,Change,Logo Match
36,37,Florida (7-5),96.416704,58.333333,56.853147,1.0,69.0,67.0,0.454545,9.884335,NR,-1,Florida
20,21,LSU (8-4),103.577136,66.666667,62.377622,2.0,55.0,48.0,4.000000,13.172800,NR,3,LSU
130,131,Purdue (1-11),39.243887,8.333333,3.636364,3.0,134.0,132.0,-30.818182,-10.131978,NR,0,Purdue
46,47,Kansas (5-7),91.173125,41.666667,40.349650,4.0,55.0,80.0,-0.090909,10.630860,NR,-14,Kansas
120,121,Florida State (2-10),55.180870,16.666667,12.027972,5.0,133.0,91.0,-16.818182,-6.299816,NR,-1,Florida_State
53,54,Oklahoma (6-6),87.745623,50.000000,42.097902,6.0,110.0,32.0,-1.090909,6.450289,NR,-9,Oklahoma
93,94,Kentucky (4-8),73.299057,33.333333,24.755245,7.0,124.0,45.0,-5.454545,2.498102,NR,-11,Kentucky
69,70,UCLA (5-7),83.430724,41.666667,42.628205,8.0,123.0,63.0,-6.833333,2.015192,NR,11,UCLA
124,125,Mississippi State (2-10),51.747053,16.666667,8.671329,9.0,96.0,123.0,-13.454545,-4.640446,NR,0,Mississippi_State
113,114,Stanford (3-9),60.758115,25.000000,15.874126,10.0,110.0,122.0,-14.909091,-5.327372,NR,-4,Stanford
5,6,Georgia (10-2),116.465404,83.333333,81.398601,11.0,28.0,29.0,10.727273,17.350747,5.0,-2,Georgia
12,13,South Carolina (9-3),110.353834,75.000000,75.454545,12.0,47.0,12.0,11.000000,17.330971,13.0,0,South_Carolina
84,85,Wisconsin (5-7),77.237208,41.666667,30.699301,13.0,101.0,48.0,-1.818182,3.763460,NR,-7,Wisconsin
59,60,Vanderbilt (6-6),86.380925,50.000000,41.678322,14.0,86.0,62.0,-1.090909,6.263300,NR,-10,Vanderbilt
35,36,Michigan (7-5),96.829611,58.333333,58.525641,15.0,100.0,19.0,1.750000,7.276197,NR,16,Michigan
106,107,Maryland (4-8),66.838154,33.333333,21.818182,16.0,99.0,100.0,-9.000000,-2.204289,NR,-7,Maryland
67,68,West Virginia (6-6),83.663760,50.000000,45.454545,17.0,66.0,109.0,-6.000000,1.892696,NR,-12,West_Virginia
8,9,Alabama (9-3),112.882467,75.000000,70.839161,18.0,21.0,11.0,15.818182,18.683296,11.0,2,Alabama
78,79,Cincinnati (5-7),79.927726,41.666667,30.699301,19.0,87.0,60.0,-1.000000,6.034567,NR,-4,Cincinnati
91,92,Virginia (5-7),73.669140,41.666667,30.699301,20.0,104.0,96.0,-8.545455,-1.030020,NR,-2,Virginia
18,19,Louisville (8-4),104.108723,66.666667,63.216783,21.0,19.0,65.0,8.909091,15.634469,NR,7,Louisville
96,97,UCF (4-8),71.425879,33.333333,21.818182,22.0,55.0,85.0,-1.090909,4.508342,NR,-5,UCF
42,43,Georgia Tech (7-5),94.101854,58.333333,54.755245,23.0,69.0,69.0,-0.090909,7.068556,NR,-11,Georgia_Tech
65,66,Washington (6-6),84.311591,50.000000,43.776224,24.0,108.0,57.0,-3.272727,3.652005,NR,-8,Washington
26,27,Kansas State (8-4),100.512108,66.666667,59.440559,25.0,51.0,42.0,5.363636,12.193809,NR,-7,Kansas_State
89,90,Houston (4-8),74.601352,33.333333,33.717949,26.0,130.0,38.0,-8.916667,-2.100289,NR,-3,Houston
44,45,USC (6-6),92.762821,50.000000,48.461538,27.0,43.0,44.0,6.250000,11.179483,NR,-11,USC
29,30,Texas A&M (8-4),98.536623,66.666667,60.279720,28.0,52.0,31.0,6.181818,11.829110,NR,-8,Texas_A_M
52,53,Nebraska (6-6),87.862781,50.000000,40.419580,29.0,98.0,25.0,1.545455,8.939601,NR,-4,Nebraska
90,91,Michigan State (5-7),74.301255,41.666667,33.216783,30.0,126.0,82.0,-11.000000,-3.445611,NR,-5,Michigan_State
117,118,Oklahoma State (3-9),57.556427,25.000000,12.937063,31.0,73.0,124.0,-11.363636,-4.030130,NR,-3,Oklahoma_State
104,105,Arizona (4-8),66.955743,33.333333,23.076923,32.0,103.0,114.0,-12.000000,-3.396389,NR,-8,Arizona
102,103,Northwestern (4-8),67.622872,33.333333,23.916084,33.0,129.0,80.0,-11.454545,-3.301198,NR,-7,Northwestern
22,23,Baylor (8-4),102.241740,66.666667,69.090909,34.0,24.0,76.0,6.454545,12.143215,NR,5,Baylor
80,81,Utah (5-7),78.968761,41.666667,31.118881,35.0,109.0,35.0,-1.272727,4.391380,NR,17,Utah
13,14,Iowa State (10-2),110.051534,83.333333,79.300699,36.0,30.0,24.0,11.000000,14.501633,16.0,4,Iowa_State
32,33,Texas Tech (8-4),97.879192,66.666667,63.636364,37.0,6.0,111.0,4.363636,7.349005,NR,8,Texas_Tech
38,39,Minnesota (7-5),95.274547,58.333333,56.013986,38.0,84.0,15.0,5.272727,10.129273,NR,7,Minnesota
64,65,Arkansas (6-6),85.132325,50.000000,42.937063,39.0,66.0,75.0,-0.545455,3.933322,NR,-8,Arkansas
73,74,Auburn (5-7),82.034513,41.666667,37.832168,40.0,93.0,39.0,0.636364,4.599907,NR,-10,Auburn
16,17,Colorado (9-3),108.088973,75.000000,72.937063,41.0,16.0,27.0,13.181818,15.879786,20.0,4,Colorado
10,11,BYU (10-2),111.156740,83.333333,77.622378,42.0,42.0,21.0,9.090909,14.162312,17.0,1,BYU
41,42,Virginia Tech (6-6),94.061622,50.000000,50.384615,43.0,45.0,37.0,6.916667,11.644666,NR,9,Virginia_Tech
48,49,Boston College (7-5),90.062335,58.333333,54.335664,44.0,64.0,68.0,0.545455,4.899148,NR,12,Boston_College
103,104,Wake Forest (4-8),67.109663,33.333333,24.335664,45.0,89.0,115.0,-10.363636,-4.451416,NR,-3,Wake_Forest
34,35,TCU (8-4),97.528382,66.666667,66.573427,46.0,29.0,84.0,3.545455,7.970669,NR,3,TCU
25,26,Iowa (8-4),100.718312,66.666667,64.895105,47.0,61.0,13.0,8.272727,12.216173,NR,1,Iowa
28,29,Illinois (9-3),98.723663,75.000000,72.097902,48.0,59.0,53.0,3.363636,7.137277,21.0,0,Illinois
27,28,Syracuse (9-3),100.386719,75.000000,72.097902,49.0,33.0,93.0,1.727273,5.686393,23.0,7,Syracuse
30,31,Missouri (9-3),98.344788,75.000000,70.839161,50.0,60.0,28.0,5.181818,7.197090,22.0,0,Missouri

In [31]:
rankings_e = rankings_extra.merge(schedule2[['Losses', 'Team']], how = 'inner', on ='Team').drop_duplicates()

# top 1 loss teams
top_1_loss = rankings_e[rankings_e['Losses'] == 1][['Rank','Team']].head(5)
top_1_loss

    Rank        Team
12     2  Notre Dame
36     4       Texas
48     5         SMU
72     7  Penn State
84     8     Indiana

In [32]:
# top 2 loss teams
top_2_loss = rankings_e[rankings_e['Losses'] == 2][['Rank','Team']].head(5)
top_2_loss

     Rank        Team
24      3  Ohio State
60      6     Georgia
120    11         BYU
132    12       Miami
156    14  Iowa State

In [33]:
# top 3 loss teams
top_3_loss = rankings_e[rankings_e['Losses'] == 3][['Rank','Team']].head(5)
top_3_loss

     Rank            Team
96      9         Alabama
108    10        Ole Miss
144    13  South Carolina
192    17        Colorado
228    20         Clemson

In [34]:
rankings_e['AP'] = np.where(rankings_e['AP'] == 'NR', 26, rankings_e['AP'])
rankings_e['AP'] = [float(i) for i in rankings_e['AP']]

In [35]:
rankings_e['Difference'] = rankings_e['AP'] - rankings_e['Rank']

In [36]:
# top 5 overrated
top_5_over = rankings_e[(rankings_e['Rank'] < 26) | (rankings_e['AP'] < 26)][['Team','Rank','AP', 'Difference']].sort_values('Difference').head(5)
top_5_over

              Team  Rank    AP  Difference
180      Tennessee    16   6.0       -10.0
395        Memphis    34  25.0        -9.0
359       Missouri    31  22.0        -9.0
335       Illinois    29  21.0        -8.0
204  Arizona State    18  12.0        -6.0

In [37]:
# top 5 underrated
top_5_u = rankings_e[(rankings_e['Rank'] < 26) | (rankings_e['AP'] < 26)][['Team','Rank','AP', 'Difference']].sort_values('Difference', ascending = False).head(5)
top_5_u['AP'] = np.where(top_5_u['AP'] == 26, 'NR', top_5_u['AP'])
top_5_u

           Team  Rank    AP  Difference
216  Louisville    19    NR         7.0
120         BYU    11  17.0         6.0
240         LSU    21    NR         5.0
108    Ole Miss    10  15.0         5.0
24   Ohio State     3   7.0         4.0

In [38]:
most_gained = rankings_e[rankings_e['Rank'] < 26][['Team','Rank','Change']].sort_values('Change', ascending = False).head(5)
most_gained

           Team  Rank  Change
216  Louisville    19       7
264      Baylor    23       5
156  Iowa State    14       4
192    Colorado    17       4
252        UNLV    22       3

In [39]:
most_lost = rankings_e[rankings_e['Rank'] < 26][['Team','Rank','Change']].sort_values('Change', ascending = True).head(5)
most_lost

           Team  Rank  Change
287      Tulane    25      -6
228     Clemson    20      -5
132       Miami    12      -5
60      Georgia     6      -2
24   Ohio State     3      -1

In [40]:
rankings.sort_values('Adj +/-',ascending = False)[:50][rankings['School'].isin(['Florida'])]

/var/folders/qd/l_m84yss1zq1vdc9vp48synh0000gn/T/ipykernel_67309/2499202531.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rankings.sort_values('Adj +/-',ascending = False)[:50][rankings['School'].isin(['Florida'])]

,Rank,School,Rating,Adj Win %,SOS,Offense,Defense,+/-,Adj +/-
36,37,Florida,96.416704,56.853147,1.0,69.0,67.0,0.454545,9.884335